Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans - A database is an organized collection of structured information, or data, typically stored electronically in a computer system

- SQL : 
1. SQL databases are relational.
2. SQL databases use structured query language (SQL) and have a predefined schema.  
3. SQL databases are vertically scalable. 

- NoSQL : 
1. NoSQL databases are non-relational.
2. NoSQL databases have dynamic schemas for unstructured data.
3. NoSQL databases are horizontally scalable.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans - 

Data Definition Language (DDL) is a subset of SQL. It is a language for describing data and its relationships in a database. It is used for defining, modifying, and managing database structures. 

DDL includes commands like CREATE (to create database objects like tables), DROP (to delete database objects), ALTER (to modify existing database objects), and TRUNCATE (to remove all data from a table while keeping its structure intact).

For example, CREATE TABLE statement is used to create a new table in the database.

CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    Department VARCHAR(50)
);

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans - 

- Data Manipulation Language (DML) is a subset of SQL. It is used for managing data in the database.

- DML includes commands like INSERT (adds a new record to the database table), UPDATE (modifies existing data in the database table), DELETE (removes data from the database table).

 **Examples :-**
1. **INSERT :** INSERT INTO Employees (Name, Age) VALUES ('John', 30); 

-> Inserts a new employee with name 'John' and age 30 into the 'Employees' table.

2. **UPDATE :** UPDATE Products SET Price = 25 WHERE ProductID = 101;  

-> Updates the price of a product with ID 101 to $25.

3. **DELETE :** DELETE FROM Customers WHERE CustomerID = 201;  

-> Deletes a customer record with ID 201 from the 'Customers' table

Q4. What is DQL? Explain SELECT with an example.

Ans - 

- DQL (Data Query Language) is a subset of SQL (Structured Query Language). It is used for querying and retrieving data from a database. 

- The SELECT command is used to query or retrieve data from a table in the database. It is used to retrieve a subset of records from one or more tables. It allows you to specify the columns you want to retrieve and apply filtering conditions to narrow down the results.

**Example :-**

SELECT name From students WHERE age < 10;
# This query will give you the list of names from the "students" table where the age is less than 10.

Q5. Explain Primary Key and Foreign Key.

Ans - 

- **Primary Key** : A primary key is a unique identifier for each record in a table.
- **Foreign Key** : A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

Ans -

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

print(mydb)

- **cursor() method** :  A cursor is a database object used to interact with the database and execute SQL queries. Cursor allow you to execute SQL statements and retrieve data from the database.
- **execute() method** : The mycursor.execute("SELECT * FROM table_name") line executes an SQL query using the cursor.

Q7. Give the order of execution of SQL clauses in an SQL query.

Ans -

1. FROM
2. JOIN
3. WHERE
4. GROUP BY
5. HAVING
6. SELECT
7. DISTINCT
8. 

ORDER BY: The ORDER BY clause is used to sort the result set based on one or more columns. It is executed after the SELECT clause and can be used to control the order of the final result set.