Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

Ans -

In [2]:
import pandas as pd
a = pd.Series([4, 8, 15, 16, 23, 42])

print(a)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

-------------

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

Ans -

In [3]:
x = ['Wade', 'Sdra', 'Daon', 'Cala', 'Zrih', 'Mdox', 'Dala', 'Jalyn', 'Maet', 'Jart']
print(pd.Series(x))

0     Wade
1     Sdra
2     Daon
3     Cala
4     Zrih
5     Mdox
6     Dala
7    Jalyn
8     Maet
9     Jart
dtype: object

-------------------

Q3. Create a Pandas DataFrame.Then, print it.

Ans -

In [4]:
Data = {'Name': ['Alice', 'Bob', 'Claire'], 'Age': [25, 30, 27], 'Gender': ['Female', 'Male', 'Female']}
df = pd.DataFrame(Data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

-----------------------------

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Ans -

**DataFrame :-**

- In Pandas, a DataFrame is a 2-dimensional labeled data structure with columns that can hold data of various types. 
- It's similar to an SQL table. 
- Essentially, it's a collection of Pandas Series that share the same index.

**Difference between DataFrame & Series :-**

**DataFrame :**

- 2D table with rows and columns.
- Contains multiple columns.
- Has both row and column indices.

**Series :**

- 1D array of data.
- Represents a single column or row from a DataFrame.
- Has an index for each element.

**Example :**

In [5]:
Data = {'Name': ['Alice', 'Bob', 'Claire'], 'Age': [25, 30, 27], 'Gender': ['Female', 'Male', 'Female']}

# Creating a dataframe from a dictionary
df = pd.DataFrame(Data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [6]:
name_series = df['Name']
age_series = df['Age']
gender_series = df['Gender']


print(age_series)
print()
print(name_series)
print()
print(gender_series)

0    25
1    30
2    27
Name: Age, dtype: int64

0     Alice
1       Bob
2    Claire
Name: Name, dtype: object

0    Female
1      Male
2    Female
Name: Gender, dtype: object

---------------------------

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Ans -

- head(): Displays the first few rows of the DataFrame.
- tail(): Shows the last few rows of the DataFrame.
- info(): Provides a summary of the DataFrame including data types and non-null counts.
- describe(): Generates descriptive statistics of numerical columns.
- shape: Returns the dimensions of the DataFrame (number of rows, number of columns).
- drop(): Allows dropping rows or columns from the DataFrame.
- fillna(): Fills missing values in the DataFrame with specified values or methods.

In [8]:
# Example of groupby function in dataFrame
data = {
    'Product': ['A', 'B', 'A', 'C', 'B', 'C'],
    'Sales': [100, 150, 200, 75, 120, 180]
}

df = pd.DataFrame(data)

# Grouping by 'Product' and calculating total sales per product
total = df.groupby('Product')['Sales'].sum()
print(total)

Product
A    300
B    270
C    255
Name: Sales, dtype: int64

------------------------

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Ans - Both Series and DataFrame are mutable in nature, while Panel is not mutable.

----------------------

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [13]:
a = pd.Series(['Pranjal', 'Pratik', 'Mohit'])
b = pd.Series([True, False, True])
c = pd.Series([5, 10, 7])

data = {
    'column1' : a,
    'column2' : b,
    'column3' : c
}

print(pd.DataFrame(data))

   column1  column2  column3
0  Pranjal     True        5
1   Pratik    False       10
2    Mohit     True        7

-------------